html,body {
    margin: 0;
    padding: 0;
    font-family:cursive;
    background-color: #F5FFC6;
}
main {
    padding: 1em;
}

h1 {
    margin: 0;
    padding: 1em;
    background-image: url("Picture/Heading background\ 2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 80px;
    text-align: center;
}
h2 {
    margin: 0;
    padding: 1em;
    background-color: #AB87FF;
    background-repeat: no-repeat;
    background-size:contain
    font-size: 40px;
    text-align: center-top;
    .dropdown {
        position: relative;
        display: inline-block;
    }
}
#mytext {
    color: red;
}