html,body {
    margin: 0;
    padding: 0;
    font-family:cursive;
    background-color: #ffffff;
}
main {
    padding: 1em;
}

h1 {
    margin: 0;
    padding: 1em;
    background-image: url("Picture/Heading background\ 2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 80px;
    text-align: center;
}
h2 {
    margin: 0;
    padding: 1em;
    background-color: #AB87FF;
    background-repeat: no-repeat;
    background-size:contain
}
h3 {
    margin: 50;
    padding: 20em;
    background-color: #b4e1ff;
    background-repeat: no-repeat;
    background-size:auto 
    font-size: 80px;
    text-align: top; 
}
#mytext {
    color: red;
}